/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: 382424;
    margin-bottom: 15px;
}

section {
padding: 40px 60px
}

p{font-size: 18px;}

ul,li {font-size: 18px;}

body{
    color: rgb(43, 30, 21);
    background-color: rgb(216, 246, 246);
}
.uvod {
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
}

.hlavicka {
    background-image: url(Fotky/seljalandsfoss-1751463_1280.jpg);
}

.fotoja {
    width: 250px;
    overflow: auto;
    float: left;
    margin: 20px 40px;
   }
.poslednifoto{
max-width: 500px;
    height: auto;
}

section:nth-child(even) {
    background-color:burlywood;
}
